<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Make Your Own Bingo Card</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<script src="vue.js"></script>
		<style>
			body {
				background-color: white;
				color: black;
				font-size: 16px;
				font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
			}

			h1 {
				color: brown;
				font-size: 20px;
				border-bottom: 1px solid #A52A2A;
			}
		</style>
	</head>

	<body>
		<!-- 生命周期 -->
		<div id="app">
			<h1>生命周期</h1>
			{{msg}}
		</div>

		<script>
			let test = {
				a: 1
			};
			var app = new Vue({
				el: '#app',
				data: {
					msg: 'hi vue'
				},

				beforeCreate: function() {
					console.log('beforeCreate');
				},

				created: function() {
					console.log('created');
				},

				beforeMount: function() {
					console.log('beforeMount');
				},

				mounted: function() {
					console.log('mounted');
				},

				beforeUpdate: function() {
					console.log('beforeUpdate');
				},

				updated: function() {
					console.log('updated');
				}
			});

			// setTimeout(function() {
			// 	app.msg = "change...."
			// }, 3000);
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- v-once -->
		<div id="app1" v-once>
			<h1>v-once</h1>
			{{msg}}
		</div>

		<script>
			var app1 = new Vue({
				el: '#app1',
				data: {
					msg: 'hello vue'
				}
			});
			app1.msg = 'change';
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- v-html v-bind JavaScript 表达式-->
		<div id="app2">
			<h1>v-html v-bind JavaScript 表达式</h1>
			<p v-html='rawhtml'></p>
			<p v-bind:class="'color_'+list">this is red</p>
			<p>number:{{number * 2}}</p>
			<p>{{rule ? 'YES' : 'NO'}}</p>
			<p>{{msg.split('').reverse().join('')}}</p>
		</div>

		<script>
			var app2 = new Vue({
				el: '#app2',
				data: {
					msg: 'hello',
					rawhtml: '<span>this is a span!</span>',
					list: 'red',
					number: 2,
					rule: false
				}
			});
		</script>

		<style>
			.color_red {
				color: red;
				font-size: 20px;
			}

			.color_blue {
				color: blue;
				font-size: 20px;
			}
		</style>

		<!-- ---------------------------------------------------------------- -->

		<!-- 指令 -->
		<div id="app3">
			<h1>指令 .stop</h1>
			<p v-if='isSeen'>you can see me!</p>
			<div @click="outside">
				<div @click.stop="inside">check me</div>
			</div>
		</div>

		<script>
			var app3 = new Vue({
				el: '#app3',
				data: {
					isSeen: true,
				},

				methods: {
					inside: function() {
						console.log('inside');
					},
					outside: function() {
						console.log('outside');
					}
				}
			});
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- v-html -->
		<div id="app4">
			<h1>v-html</h1>
			<div class="box" @mouseover="hoverColor" @mouseout="outColor" v-bind:class="[ isActive ? 'on' : '' ]">Center</div>
		</div>
		<script>
			var app4 = new Vue({
				el: '#app4',
				data: {
					isActive: false
				},
				methods: {
					hoverColor: function() {
						this.isActive = true;
					},
					outColor: function() {
						this.isActive = false;
					}
				}
			});
		</script>


		<style>
			.box {
				width: 100px;
				height: 100px;
				text-align: center;
				line-height: 100px;
				border: #eee 1px solid
			}

			.on {
				background-color: #A52A2A;
				color: #FFFFFF;
			}
		</style>

		<!-- ---------------------------------------------------------------- -->

		<!-- v-if v-show -->
		<div id="app5">
			<h1>v-if v-show</h1>
			<div v-if="type ==='A'">A</div>
			<div v-else-if="type ==='B'">B</div>
			<div v-else-if="type ==='C'">C</div>
			<div v-else>Others</div>

			<p v-show="show">show</p>
		</div>

		<script>
			var app5 = new Vue({
				el: '#app5',
				data: {
					type: 'D',
					show: true
				}
			});
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- v-for -->
		<div id="app6">
			<h1>v-for</h1>
			<ul>
				<li v-for="(item,index) in items" :key="index">{{index}}--{{item.msg}}</li>
			</ul>

			<ul>
				<li v-for="(value,key) in obj" :key="key">{{key}}:{{value}}</li>
			</ul>
		</div>

		<script>
			var app6 = new Vue({
				el: '#app6',
				data: {
					items: [{
							msg: 'name1'
						},
						{
							msg: 'name2'
						},
						{
							msg: 'name3'
						}
					],

					obj: {
						title: 'hello',
						des: 'this is vue v-if',
						info: 'can build todilist'
					}
				}
			});
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- 事件处理 -->
		<div id="app7">
			<h1>事件处理</h1>
			<button @click="num += 1">点击次数:{{num}}</button>
			<button @click="rest($event)">归零</button>
		</div>

		<script>
			var app7 = new Vue({
				el: '#app7',
				data: {
					num: 0
				},
				methods:{
					rest: function(e){
						this.num = 0;
						console.log(e)
					}
				}
			});
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- 表单 -->
		<div id="app8">
			<h1>表单</h1>
			<input v-model="inputMsg" placeholder="">
			<p>input text: {{inputMsg}}</p>

			<textarea v-model="textareaMsg" placeholder=""></textarea>
			<p>textarea text: {{textareaMsg}}</p>

			<input type="checkbox" id="jack" value="Jack" v-model="checkedMsg">
			<label for="jack">Jack</label>
			<input type="checkbox" id="john" value="John" v-model="checkedMsg">
			<label for="john">John</label>
			<input type="checkbox" id="mike" value="Mike" v-model="checkedMsg">
			<label for="mike">Mike</label>
			<p>checkbox text: {{checkedMsg}}</p>

			<input type="radio" id="one" value="One" v-model="radioMsg">
			<label for="one">One</label>
			<br>
			<input type="radio" id="two" value="Two" v-model="radioMsg">
			<label for="two">Two</label>
			<p>radio text: {{radioMsg}}</p>

			<select v-model="selectMsg">
				<option disabled value="">请选择</option>
				<option>option11</option>
				<option>option22</option>
				<option>option33</option>
			</select>
			<p>select text: {{selectMsg}}</p>

			<button @click="submit">submit</button>
		</div>

		<script>
			var app8 = new Vue({
				el: '#app8',
				data: {
					inputMsg: '',
					textareaMsg: '',
					checkedMsg: [],
					radioMsg: '',
					selectMsg: ''
				},

				methods: {
					submit: function() {
						let obj = {
							input: this.inputMsg,
							textarea: this.textareaMsg,
							checked: this.checkedMsg,
							radio: this.radioMsg,
							select: this.selectMsg,
						}
						console.log(obj)
					}
				}
			});
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- 组件 -->
		<div id="app9">
			<h1>组件</h1>
			<child title="father"></child>
			<button-counter title="text1" @chicknow="chicknow"></button-counter>
			<button-counter title="text2" @chicknow="chicknow"></button-counter>
		</div>

		<script>
			Vue.component('button-counter', {
				props: ['title'],
				data: function(){
					return {
						count: 0
					}
				},
				template: `<button @click="addCount">{{title}} check me count:{{count}}</button>`,
				methods:{
					addCount: function(){
						this.count ++;
						this.$emit('chicknow', this.title ,this.count);
					}
				}
			})
			var app9 = new Vue({
				el: '#app9',
				data: {

				},
				components:{
					child:{
						props: ['title'],
						data: function(){
							return {
								name: 'child title'
							}
						},
						template: `<h2>{{title}}-{{name}}</h2>`,
					}
				},
				methods:{
					chicknow:function(e,f){
						console.log(e,f)
					}
				}
			});
		</script>

		<!-- ---------------------------------------------------------------- -->

		<!-- v-html -->
		<div id="app10">
			<h1>app10</h1>
		</div>

		<script>
			var app10 = new Vue({
				el: '#app10',
				data: {

				}
			});
		</script>
		
		<!-- ---------------------------------------------------------------- -->
		
		<!-- v-html -->
		<div id="app11">
			<h1>app11</h1>
		</div>
		
		<script>
			var app11 = new Vue({
				el: '#app11',
				data: {
		
				}
			});
		</script>
		
		<!-- ---------------------------------------------------------------- -->
		
		<!-- v-html -->
		<div id="app12">
			<h1>app12</h1>
		</div>
		
		<script>
			var app12 = new Vue({
				el: '#app12',
				data: {
		
				}
			});
		</script>
		
		<!-- ---------------------------------------------------------------- -->
		
		<!-- v-html -->
		<div id="app13">
			<h1>app13</h1>
		</div>
		
		<script>
			var app13 = new Vue({
				el: '#app13',
				data: {
		
				}
			});
		</script>
		
		<!-- ---------------------------------------------------------------- -->
		
		<!-- v-html -->
		<div id="app14">
			<h1>app14</h1>
		</div>
		
		<script>
			var app14 = new Vue({
				el: '#app14',
				data: {
		
				}
			});
		</script>
		
		<!-- ---------------------------------------------------------------- -->
		
		<!-- v-html -->
		<div id="app15">
			<h1>app15</h1>
		</div>
		
		<script>
			var app15 = new Vue({
				el: '#app15',
				data: {
		
				}
			});
		</script>

	</body>

</html>
